.btnNormal {
    -fx-cursor: hand;
    -fx-background-color: #2699FB;
    -fx-text-fill: #fff;
    -fx-pref-height: 48;
    -fx-pref-width: 148;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-background-radius: 4;
    -fx-border-width: 2;
    -fx-border-color: #2699FB;
    -fx-border-radius: 4;
}

.btnNormal:hover{
    -fx-background-color: #0588fa;
}

.btnNormal:pressed{
    -fx-background-color: #50abfb;
}

.btnNotNormal {
    -fx-cursor: hand;
    -fx-border-color: #2699FB;
    -fx-border-width: 2;
    -fx-background-color: #fff;
    -fx-text-fill: #2699FB;
    -fx-pref-height: 48;
    -fx-pref-width: 148;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-border-radius: 4;
}

.btnNotNormal:hover{
    -fx-background-color: #e6e6e6;
}

.btnNotNormal:pressed{
    -fx-background-color: #f2f2f2;
}

#imgAvatar{
    -fx-pref-width: 272;
    -fx-pref-height: 272;
}

#txtTitle{
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

#txtSubTitle{
    -fx-font-size: 30;
}

.combo-box{
    -fx-cursor: hand;
    -fx-border-color: #2699FB;
    -fx-border-width: 2;
    -fx-background-color: #fff;
    -fx-pref-height: 48;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-border-radius: 4;
}