#pagetitle{
    -fx-font-size: 40;
    -fx-font-weight: bold;
}

#txtTitle{
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

#txtNormal{
    -fx-font-size: 30;
}

#txtError{
    -fx-font-size: 20;
    -fx-fill: #fb2626;
}

.btnNormal {
    -fx-cursor: hand;
    -fx-background-color: #2699FB;
    -fx-text-fill: #fff;
    -fx-pref-height: 48;
    -fx-pref-width: 148;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-background-radius: 4;
    -fx-border-width: 2;
    -fx-border-color: #2699FB;
    -fx-border-radius: 4;
}

.btnNormal:hover{
    -fx-background-color: #0588fa;
}

.btnNormal:pressed{
    -fx-background-color: #50abfb;
}

#imgAvatar{
    -fx-pref-width: 207;
    -fx-pref-height: 207;
    -fx-background-radius: 40;
    -fx-border-radius: 40;
}

#tfInput{
    -fx-pref-height: 40;
    -fx-border-color: #50abfb;
    -fx-background-color: #fff;
    -fx-border-width: 2;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-border-radius: 4;
}

#tfOutLineDate{
    -fx-pref-height: 40;
    -fx-border-color: #50abfb;
    -fx-background-color: #fff;
    -fx-border-width: 2;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-border-radius: 4;
}

#tfDate{
    -fx-pref-height: 34;
    /*-fx-border-color: #50abfb;*/
    -fx-background-color: #fff;
    -fx-border-width: 2;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-border-radius: 4;
}

#tfDate .input-line {
    -fx-background-color: #FFFFFF;
}

#tfDate .input-focused-line {
    -fx-background-color: #FFFFFF;
}

.btnNotNormal {
    -fx-cursor: hand;
    -fx-border-color: #2699FB;
    -fx-border-width: 2;
    -fx-background-color: #fff;
    -fx-text-fill: #2699FB;
    -fx-pref-height: 48;
    -fx-pref-width: 148;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-border-radius: 4;
}

.btnNotNormal:hover{
    -fx-background-color: #e6e6e6;
}

.btnNotNormal:pressed{
    -fx-background-color: #f2f2f2;
}

.box-shadow{
    -fx-background-color: #fff;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.top-box{
    -fx-background-color: #2699FB;
    -fx-background-radius: 20 20 0 0;
}