.btnNormal {
    -fx-cursor: hand;
    -fx-background-color: #2699FB;
    -fx-text-fill: #fff;
    -fx-pref-height: 48;
    -fx-pref-width: 148;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-background-radius: 4;
    -fx-border-width: 2;
    -fx-border-color: #2699FB;
    -fx-border-radius: 4;
}

.btnNormal:hover{
    -fx-background-color: #0588fa;
}

.btnNormal:pressed{
    -fx-background-color: #50abfb;
}

.btnNotNormal {
    -fx-cursor: hand;
    -fx-border-color: #2699FB;
    -fx-border-width: 2;
    -fx-background-color: #fff;
    -fx-text-fill: #2699FB;
    -fx-pref-height: 48;
    -fx-pref-width: 148;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-border-radius: 4;
}

.btnNotNormal:hover{
    -fx-background-color: #e6e6e6;
}

.btnNotNormal:pressed{
    -fx-background-color: #f2f2f2;
}

.btnLogin {
    -fx-cursor: hand;
    -fx-border-color: #2699FB;
    -fx-border-width: 2;
    -fx-background-color: #fff;
    -fx-text-fill: #2699FB;
    -fx-pref-height: 48;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-border-radius: 4;
}

.btnLogin:hover{
    -fx-background-color: #e6e6e6;
}

.btnLogin:pressed{
    -fx-background-color: #f2f2f2;
}

.btnSearch {
    -fx-cursor: hand;
    -fx-background-color: #2699FB;
    -fx-text-fill: #fff;
    -fx-pref-width: 148;
    -fx-pref-height: 48;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-background-radius:  0 4 4 0;
    -fx-border-width: 2;
    -fx-border-color: #2699FB;
    -fx-border-radius: 0 4 4 0;
}

.btnSearch:hover{
    -fx-background-color: #0588fa;
}

.btnSearch:pressed{
    -fx-background-color: #50abfb;
}

.txtSearch{
    -fx-cursor: text;
    -fx-border-color: #2699FB;
    -fx-border-width: 2;
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-pref-height: 48;
    -fx-pref-width: 564;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-border-radius: 4 0 0 4;
}

.table-view{
    -fx-font-size: 18;
    -fx-border-radius: 4;
    -fx-border-color: #2699FB;
    -fx-border-width: 2;
    -fx-background-radius: 4;
}

#txPatientElement {
    -fx-alignment: CENTER;
}

.table-view .column-header-background{
    -fx-border-color: #2699FB;
    -fx-border-width: 2;
    -fx-border-radius: 4;
}

.table-view .column-header {
    -fx-background-color: #2699FB;
}

.table-view .column-header .label{
    -fx-text-fill: #fff;
}

.tab-pane > .tab-header-area {
    -fx-padding: 0;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #E1E1E1, white;
    -fx-background-insets: 0, 0 0 1px 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: white;
    -fx-background-insets: 0 0 1px 0;
    -fx-padding: 1.5em 1em;
}

.tab-pane > .tab-header-area > .headers-region > .tab >.tab-container >.tab-label {
    -fx-text-fill: #63B5F6;
    -fx-font-size: 18;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #2699FB, white;
    -fx-background-insets: 0, 0 0 2px 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected >.tab-container >.tab-label {
    -fx-text-fill: #2095F3;
    -fx-font-weight: bold;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected >.tab-container >.focus-indicator {
    -fx-opacity: 0;
}

.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
}

.pagination .label{
    -fx-font-size: 14;
}

/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: lightgray, #FAFAFA;
    -fx-min-width: 30;
    -fx-min-height: 30;
    -fx-font-size: 14;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: lightgray;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
    -fx-background-color: #2699FB;
    -fx-text-fill: white;
}

.headerButton{
    -fx-padding: 8 15 8 15;
    -fx-background-color: none;
    -fx-background-radius: 0;
}

#iconmenu{
    -fx-fill: #fff;
}

.headerButton:hover{
    -fx-background-color: #FFF;
}

.headerButton:pressed{
    -fx-background-color: #f2f2f2;
}

.headerButton:hover > #iconmenu{
    -fx-fill:#2699FB;
}

#btnAction{
    -fx-cursor: hand;
    -fx-border-color: #2699FB;
    -fx-border-width: 2;
    -fx-background-color: #fff;
    -fx-text-fill: #2699FB;
    -fx-font-weight: bold;
    -fx-border-radius: 4;
}

#btnAction:hover{
    -fx-background-color: #e6e6e6;
}

#btnAction:pressed{
    -fx-background-color: #f2f2f2;
}
